/* Custom CSS styles */


/* Modify the background color of the body (light gray) */
body { 
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

/* Custom styles for the logo image */
.navbar img {
    max-width: 100%;
    height: auto;
}
.dog1 {
    margin-top: .3px;
}
/* Custom styles for headings, paragraphs, or other elements as needed */

/* Center the rows containing the two paragraphs */
.content .row {
    justify-content: center;
    margin-top: 50px;
}

/* Style for the beige banner background color and height */
.bg-beige {
    background-color: beige;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Add padding for spacing */
}

/* Adjust the position of the navbar */
.navbar {
    position: absolute;
    right: 40px; /* Adjust as needed for the desired position */
    top: 180px; /* Vertically center the navigation links */  
}

h1 {
    justify-content: center;
}